# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/booking_platform?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=booking_platform

# JWT Configuration
JWT_SECRET="superman-access"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="superman-refresh"
JWT_REFRESH_EXPIRATION="7d"